@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1.title {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-size: 4.5rem;
    font-style: normal;
    color: red;
}

figcaption.subtitle {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
    color: black;    
}

input#coffin-search{
    font-family: "Creepster", system-ui;
    color:red
}

.coffin-card {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: 1rem;
    color: black;   
}

.price {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-size: large;
    font-style: italic;
    color: black;      
}